# Gradle and Android Studio
.gradle/
.idea/
local.properties
/.DS_Store

# Build output
/build/
*/build/

# Gradle Wrapper
gradle-wrapper.jar

# Android build files
/app/build/
app/.cxx/
app/.externalNativeBuild/

# IntelliJ specific
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/.name

# Debug/Release specific
/app/build/intermediates/
/app/build/generated/
